/*baisic*/
html{
  -webkit-locale: "ru-RU";
  direction: ltr;
  unicode-bidi: isolate;
  min-height: 100%;
}
html, body{
  min-height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
body{
  font: 400 16px/1.2 $font-main;
  color: $clr-txt;
  background: $clr-bg-main;
  min-width: 310px; 
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  opacity: 1;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  &.block{overflow: hidden;}
}

/*clearfix*/
.clearfix{
  zoom: 1;
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after{clear: both;}
}

/*box-sizing*/
*, *:before, *:after, input[type="search"]{
  box-sizing: border-box;
}

/*buttons*/
.btn{
  @include btn-reset;
  &_blue{
    background: $blue-grd;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    &:hover{background: $blue-grd-hover;}
  }
}

/*layout*/
.wrapper{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  & > *{width: 100%;}
}
.main{flex-grow: 1;}

.container{
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}

/*typographyc*/
ol,ul,li,h1,h2,h3,h4,h5,h6,p,q,figure,figcaption,blockquote,cite,fieldset,hr{    
  margin:0;
  padding: 0;    
  border: none;
}
ul li, ol li{list-style: none;}
a{
  text-decoration: none;
  outline: none;
  transition: .25s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:-moz-any-link:focus ,
  &:-moz-focusring,
  &::-moz-focus-inner,
  &::-moz-focus-outer{
    outline: 0!important;
    outline: none;
  }
  &:active {outline: none;}
}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
.sec-title{
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  span{white-space: nowrap;}
}

@media only screen and (max-width : 1200px){
  .container{max-width: 1000px;}
}
@media only screen and (max-width : 992px){
  .container{max-width: 780px;}
  .sec-title{font-size: 28px;}
}
@media only screen and (max-width : 768px){
  .container{
    max-width: 470px;
    padding: 0 15px;
  }
  .sec-title{font-size: 24px;}
}
@media only screen and (max-width : 480px){
  .container{
    max-width: 320px;
    padding: 0 15px;
  }
  .sec-title{font-size: 18px;}
}