.features{
  padding: 163px 0 217px;
  &__title{
    margin-bottom: 70px;
    color: $clr-red;
  }
}
.features-slider{
  margin: 0 auto;
  position: relative;
  padding: 0 97px;
  .slick-slide{outline: none;}
  .slick-arrow{
    @include btn-reset;
    font-size: 0;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 23px;
    margin-top: -12px;
    background: center center no-repeat;
    z-index: 5;
  }
  .slick-prev{
    left: 0;
    background-image: url(../img/pic/prev-min.png);
  }
  .slick-next{
    right: 0;
    background-image: url(../img/pic/next-min.png);
  }
  .slick-dots{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
    font-size: 0;
    li{
      display: inline-block;
      padding: 10px;
      button{
        @include btn-reset;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $clr-blue;
        &:hover{
          background-color: $clr-red;
          border-color: $clr-red;
        }
      }
      &.slick-active{
        button{
          background-color: $clr-red;
          border-color: $clr-red;
        }
      }
    }
  }
}
.features-slide{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__img,
  &__main{
    width: calc(50% - 15px);
    color: #293240;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .4px;
    p{margin: 1em 0;}
  }
  &__title{
    margin-bottom: 35px;
    color: $clr-blue;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: .6px;
  }
}
@media only screen and (max-width : 1200px){
  .features{padding: 80px 0 160px;}
  .features-slider{
    padding: 0 52px;
    .slick-dots{
      li{padding: 5px;}
    }
  }
  .features-slide{
    &__img,
    &__main{
      font-size: 14px;
      line-height: 20px;
      letter-spacing: .35px;
    }
    &__title{
      margin-bottom: 18px;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: .5px;
    }
  }
}
@media only screen and (max-width : 992px){
  .features{padding: 100px 0 155px;}
  .features-slider{padding: 0 37px;}
  .features-slide{
    &__img,
    &__main{width: calc(50% - 8px);}
    &__main{
      font-size: 12px;
      letter-spacing: 0;
    }
    &__title{
      margin-bottom: 12px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .4px;
    }
  }
}
@media only screen and (max-width : 768px){
  .features{padding: 52px 0 117px;}
  .features-slider{
    padding: 0 62px;
    margin: 0 auto;
    width: 450;
    .slick-arrow{
      top: 146px;
      margin-top: 0;
    }
    .slick-dots{bottom: -40px;}
  }
  .features-slide{
    display: block;
    &__img,
    &__main{width: 100%;}
    &__img{
      padding-top: 100%;
      overflow: hidden;
      position: relative;
      img{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &__main{
      padding-top: 25px;
      p{display: none;}
    }
    &__title{
      margin-bottom: 0;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .4px;
      font-weight: bold;
    }
  }
}
@media only screen and (max-width : 480px){
  .features{padding: 40px 0 88px;}
  .features-slider{
    padding: 0 23px;
    width: 100%;
    .slick-arrow{top: 111px;}
  }
  .features-slide{
    &__main{
      padding-top: 20px;
      text-align: center;
    }
    &__title{
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
    }
  }
}