.footer{
  background-color: #1b232a;
  text-align: center;
  padding: 48px 0 40px;
  color: #fff;
  .logo{margin: 0 auto 20px;}
}
@media only screen and (max-width : 1200px){
  .footer{
    .logo{width: 112px;}
  }
}
@media only screen and (max-width : 480px){
  .footer{font-size: 14px;}
}