.models{
  padding: 96px 0 143px;
  background-color: #ebebeb;
  &__wrap{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
}
.model{
  width: calc(50% - 15px);
  padding: 46px 46px 107px;
  background-color: $clr-white;
  text-align: center;
  &__title{
    margin-bottom: 24px;
    color: $clr-red;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .9px;
  }
  &__txt{
    color: #1b232a;
    font-size: 16px;
    letter-spacing: .4px;
  }
  &__pic{
    height: 320px;
    position: relative;
  }
  &__img,
  &__blind{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .3s; 
  }
  &__img{opacity: 0;}
  &__blind{opacity: 1;}
  &__txt{
    max-width: 348px;
    margin: 0 auto;
    color: #1b232a;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .35px;
  }
  &:hover{
    .model__blind{opacity: 0;}
    .model__img{opacity: 1;}
  }
}
@media only screen and (max-width : 1200px){
  .models{padding: 72px 0 109px;}
  .model{
    width: calc(50% - 14px);
    padding: 32px 32px 50px;
    &__title{
      margin-bottom: 17px;
      font-size: 28px;
    }
    &__txt{font-size: 14px;}
    &__pic{height: 245px;}
    &__img{width: 268px;}
    &__blind{width: 175px;}
    &__txt{
      max-width: 276px;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: .37px;
    }
  }
}
@media only screen and (max-width : 992px){
  .model{
    padding: 88px 32px 46px;
    position: relative;
    &__title{display: none;}
    &__txt{font-size: 14px;}
    &__pic{
      height: 230px;
      position: static;
    }
    &__img{
      width: 224px;
      opacity: 1 !important;
    }
    &__blind{
      width: 72px;
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1 !important;
    }
  }
}
@media only screen and (max-width : 768px){
  .models{
    padding: 54px 0 58px;
    &__wrap{display: block;}
  }
  .model{
    width: 100%;
    max-width: 350px;
    margin: 0 auto 19px;
    &:last-child{margin-bottom: 0;}
  }
}
@media only screen and (max-width : 480px){
  .model{
    padding: 88px 26px 26px;
    &__txt{
      font-size: 12px;
      line-height: 19px;
    }
  }
}