.overview{
  overflow: hidden;
  padding: 196px 0;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    bottom: -140px;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-left: -1033px;
    background: url(../img/pic/circles_overview-min.png) center center no-repeat;
    background-size: contain;
    width: 2453px;
    height: 913px;
  }
  .container{
    position: relative;
    z-index: 1;
  }
  &__video{
    width: 947px;
    height: 532px;
    margin: 0 auto 90px;
    position: relative;
    background-color: #1b232a;
    iframe{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__blind{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    background: center center no-repeat;
    background-size: cover;
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #1b232a;
      opacity: .7;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      background: url(../img/pic/play-min.png) center center no-repeat $clr-white;
      border-radius: 23px;
      overflow: hidden;
      width: 141px;
      height: 104px;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
  &__btn{
    width: 224px;
    margin: 0 auto;
    height: 68px;
    line-height: 68px;
    font-size: 24px;
    font-weight: 500;
  }
}