.protection{
  padding: 165px 0;
  text-align: center;
  &__title{
    margin-bottom: 65px;
    color: $clr-red;
  }
  &__wrap{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
}
.protection-item{
  width: calc((100% - 60px) / 3);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  &__pic{
    height: 289px;
    background: center center no-repeat;
    background-size: cover;
    border-radius: 30px 30px 0 0;
  }
  &__main{
    flex-grow: 1;
    border-radius: 0 0 30px 30px;
    border: 1px solid $clr-blue;
    border-top: none;
    padding: 36px 35px 22px;
    color: #293240;
    font-size: 14px;
    line-height: 24px;
    p{
      margin: 1em 0;
      &:first-child{margin-top: 0;}
      &:last-child{margin-bottom: 0;}
    }
  }
}
@media only screen and (max-width : 1200px){
  .protection{
    padding: 100px 0 130px;
    &__title{margin-bottom: 50px;}
  }
  .protection-item{
    &__main{padding: 24px 21px 40px;}
  }
}
@media only screen and (max-width : 992px){
  .protection{
    padding: 72px 0;
    &__title{margin-bottom: 32px;}
    &__wrap{display: block;}
  }
  .protection-item{
    width: 447px;
    margin: 0 auto 37px;
    display: block;
    &:last-child{margin-bottom: 0;}
    &__pic{height: 288px;}
    &__main{
      padding: 26px 28px 38px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
@media only screen and (max-width : 480px){
  .protection{
    padding: 57px 0 73px;
  }
  .protection-item{
    width: 100%;
    &__main{
      padding: 26px 35px 15px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
