extends ../layout/layout

block main
  include ../modules/main-sec.html
  include ../modules/models.html
  include ../modules/communication.html
  include ../modules/protection.html
  include ../modules/long-link.html
  include ../modules/features.html
  include ../modules/benefits.html
  include ../modules/overview.html